.ios-status-bar {
  display: flex;
  position: relative;
  width: 375px;
}

.ios-status-bar .sec {
  align-items: center;
  display: flex;
  position: relative;
}

.ios-status-bar .ios-status-sim {
  min-width: 20px !important;
  width: unset !important;
}

.ios-status-bar .carrier {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar .ios-status-ico {
  height: 16px !important;
  min-width: 16px !important;
  position: relative !important;
}

.ios-status-bar .app {
  color: #111111;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar .ios-status-wifi-instance {
  left: unset !important;
  min-width: 20px !important;
  position: relative !important;
  top: unset !important;
  width: unset !important;
}

.ios-status-bar .element-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.ios-status-bar .element {
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar .div-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.ios-status-bar .element-2 {
  color: #111111;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar .sec-2 {
  align-items: center;
  display: flex;
  gap: 6px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 45px;
}

.ios-status-bar .element-AM {
  position: relative;
}

.ios-status-bar .sec-3 {
  align-items: center;
  display: flex;
  position: relative;
}

.ios-status-bar .element-3 {
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar .ios-status-battery-instance {
  width: unset !important;
}

.ios-status-bar .instance-node {
  width: 28px !important;
}

.ios-status-bar .ios-status-battery-2 {
  min-width: 28px !important;
  width: unset !important;
}

.ios-status-bar .class {
  background-color: #ffffff !important;
}

.ios-status-bar.notch-no {
  align-items: center;
  height: 20px;
  justify-content: space-between;
  padding: 0px 4px;
}

.ios-status-bar.notch-island {
  align-items: center;
  height: 54px;
  justify-content: center;
  padding: 12px 0px 0px;
}

.ios-status-bar.notch-yes {
  align-items: flex-end;
  height: 30px;
  justify-content: center;
}

.ios-status-bar.location.notch-no {
  background-color: #007aff;
}

.ios-status-bar.recording.notch-no {
  background-color: #ff3b30;
}

.ios-status-bar.call.notch-no {
  background-color: #34c759;
}

.ios-status-bar.notch-island .sec {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.ios-status-bar.notch-yes .sec {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.ios-status-bar.notch-no .sec {
  gap: 6px;
  width: 100px;
}

.ios-status-bar.recording .carrier {
  color: #ffffff;
}

.ios-status-bar.default .carrier {
  color: #111111;
}

.ios-status-bar.back .carrier {
  color: #ffffff;
}

.ios-status-bar.location .carrier {
  color: #ffffff;
}

.ios-status-bar.call .carrier {
  color: #ffffff;
}

.ios-status-bar.recording .element-wrapper {
  background-color: #ff3b30;
  border-radius: 12px;
  padding: 2px 6px;
}

.ios-status-bar.location .element-wrapper {
  background-color: #007aff;
  border-radius: 12px;
  padding: 2px 6px;
}

.ios-status-bar.call .element-wrapper {
  background-color: #34c759;
  border-radius: 12px;
  padding: 2px 6px;
}

.ios-status-bar.recording .element {
  color: #ffffff;
}

.ios-status-bar.default .element {
  color: #111111;
}

.ios-status-bar.location .element {
  color: #ffffff;
}

.ios-status-bar.call .element {
  color: #ffffff;
}

.ios-status-bar.notch-no .element-AM {
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.ios-status-bar.notch-island .element-AM {
  align-self: stretch;
  height: 42px;
  min-width: 120px;
}

.ios-status-bar.notch-yes .element-AM {
  align-self: stretch;
  height: 30px;
  min-width: 210px;
}

.ios-status-bar.location.notch-no .element-AM {
  color: #ffffff;
}

.ios-status-bar.default.notch-no .element-AM {
  color: #111111;
}

.ios-status-bar.recording.notch-no .element-AM {
  color: #ffffff;
}

.ios-status-bar.call.notch-no .element-AM {
  color: #ffffff;
}

.ios-status-bar.back.notch-no .element-AM {
  color: #111111;
}

.ios-status-bar.notch-island .sec-3 {
  flex: 1;
  gap: 2px;
  justify-content: center;
}

.ios-status-bar.notch-yes .sec-3 {
  flex: 1;
  gap: 2px;
  justify-content: center;
}

.ios-status-bar.notch-no .sec-3 {
  gap: 6px;
  justify-content: flex-end;
  width: 100px;
}

.ios-status-bar.recording .element-3 {
  color: #ffffff;
}

.ios-status-bar.default .element-3 {
  color: #111111;
}

.ios-status-bar.back .element-3 {
  color: #111111;
}

.ios-status-bar.location .element-3 {
  color: #ffffff;
}

.ios-status-bar.call .element-3 {
  color: #ffffff;
}
