.secondary-text {
  height: 48px;
}

.secondary-text .acquista-11 {
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 238px;
}

.secondary-text .icone-base-4 {
  height: 14px;
  min-width: 14px;
  position: relative;
}

.secondary-text .BUTTON-3 {
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.secondary-text.size-19-md {
  width: 272px;
}

.secondary-text.size-19-sm {
  width: 176px;
}

.secondary-text.size-19-xl {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 344px;
}

.secondary-text.icon-5-left {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
}

.secondary-text.icon-5-right {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
}

.secondary-text.icon-5-left.state-17-hover {
  background-color: #f2f2f2;
}

.secondary-text.state-17-pressed.size-19-sm {
  background-color: #000000;
  position: relative;
}

.secondary-text.size-19-sm.state-17-disabled {
  background-color: #d2d2d2;
  position: relative;
}

.secondary-text.icon-5-left.state-17-default {
  border: 1px solid;
  border-color: #262626;
}

.secondary-text.icon-5-right.state-17-default {
  border: 1px solid;
  border-color: #262626;
}

.secondary-text.icon-5-right.state-17-pressed {
  background-color: #000000;
}

.secondary-text.icon-5-right.state-17-hover {
  background-color: #f2f2f2;
}

.secondary-text.state-17-default.icon-5-no {
  background-color: #ffffff;
}

.secondary-text.size-19-xl.icon-5-no {
  flex-direction: column;
}

.secondary-text.icon-5-left.state-17-disabled {
  background-color: #d2d2d2;
}

.secondary-text.state-17-hover.size-19-sm {
  background-color: #f2f2f2;
  position: relative;
}

.secondary-text.icon-5-right.state-17-disabled {
  background-color: #d2d2d2;
}

.secondary-text.icon-5-left.state-17-pressed {
  background-color: #000000;
}

.secondary-text.size-19-md .secondary_text-2 {
  height: 48px;
  position: relative;
}

.secondary-text.size-19-sm .secondary_text-2 {
  background-color: #f2f2f2;
}

.secondary-text.size-19-xl .secondary_text-2 {
  background-color: #ffffff;
  height: 48px;
  min-width: 344px;
  position: relative;
}

.secondary-text.state-17-default .secondary_text-2 {
  height: 48px;
  position: relative;
}

.secondary-text.size-19-sm.state-17-default .secondary_text-2 {
  border: 1px solid;
  border-color: #262626;
}

.secondary-text.state-17-pressed.size-19-sm .secondary_text-2 {
  color: #ffffff;
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 20px;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 136px;
}

.secondary-text.size-19-sm.state-17-disabled .secondary_text-2 {
  color: #989898;
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 20px;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 136px;
}

.secondary-text.size-19-md.state-17-disabled .secondary_text-2 {
  background-color: #d2d2d2;
}

.secondary-text.state-17-hover.size-19-md .secondary_text-2 {
  background-color: #f2f2f2;
}

.secondary-text.state-17-pressed.size-19-md .secondary_text-2 {
  background-color: #000000;
}

.secondary-text.state-17-default.size-19-md .secondary_text-2 {
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: #262626;
}

.secondary-text.state-17-hover.size-19-sm .secondary_text-2 {
  color: #262626;
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 20px;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 136px;
}

.secondary-text.size-19-md .button_primary {
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 188px;
}

.secondary-text.size-19-sm .button_primary {
  color: #262626;
  font-family: "GT Eesti Pro Text-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 19px;
  letter-spacing: 2.4px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 136px;
}

.secondary-text.size-19-xl .button_primary {
  height: 48px;
  position: relative;
  width: 344px;
}

.secondary-text.state-17-default.size-19-xl .button_primary {
  border: 1px solid;
  border-color: #262626;
}

.secondary-text.size-19-md.state-17-disabled .button_primary {
  color: #989898;
  left: 42px;
  top: 17px;
}

.secondary-text.state-17-hover.size-19-md .button_primary {
  color: #262626;
  left: 42px;
  top: 17px;
}

.secondary-text.state-17-pressed.size-19-md .button_primary {
  color: #ffffff;
  left: 42px;
  top: 17px;
}

.secondary-text.state-17-pressed.size-19-xl .button_primary {
  background-color: #000000;
}

.secondary-text.state-17-hover.size-19-xl .button_primary {
  background-color: #f2f2f2;
}

.secondary-text.size-19-xl.state-17-disabled .button_primary {
  background-color: #d2d2d2;
}

.secondary-text.state-17-default.size-19-md .button_primary {
  color: #262626;
  left: 41px;
  top: 16px;
}

.secondary-text.state-17-disabled .acquista-11 {
  color: #989898;
  left: 53px;
  top: 17px;
}

.secondary-text.state-17-pressed .acquista-11 {
  color: #ffffff;
  left: 53px;
  top: 17px;
}

.secondary-text.state-17-default .acquista-11 {
  color: #262626;
  left: 52px;
  top: 16px;
}

.secondary-text.state-17-hover .acquista-11 {
  color: #262626;
  left: 53px;
  top: 17px;
}

.secondary-text.state-17-disabled .BUTTON-3 {
  color: #989898;
}

.secondary-text.state-17-pressed .BUTTON-3 {
  color: #ffffff;
}

.secondary-text.state-17-default .BUTTON-3 {
  color: #262626;
}

.secondary-text.state-17-hover .BUTTON-3 {
  color: #262626;
}
